{% load static %}
<html>
<head>
    <title>AA San Diego Helper{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="root">
        <header class="row">
            {% block header %}{% include 'header.html' %}{% endblock %}
        </header>
        <div class="row" id="doc-wrapper">
            <input id="doc-drawer-checkbox" class="drawer" value="on" type="checkbox">
            <nav class="col-md-3 col-lg-2" id="nav-drawer">
                {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
            </nav>
            <main class="col-sm col-md col-lg" id="doc-content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
