{% extends 'base.html' %}
{% block content %}
    <h1 class="col-lg-12">Showing {{today}} Meetings from {{now|date:"h:i A"}} to {{hours_from|date:"h:i A"}}</h1>
{% if latest_meeting_list %}
    <table class="striped hoverable">
        <caption>Meetings</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Area</th>
                <th>Codes</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in latest_meeting_list %}
            <tr>
                <td data-label="Name"><a href="{{meeting.url}}"><span class="icon-location"></span></a>{{ meeting.name }}</td>
                <td data-label="Time">{{meeting.time}}</td>
                <td data-label="Area">{{ meeting.area.area }}</td>
                <td data-label="Codes">{% with meeting.codes.all as codes %}{% if codes %}<ul>{% for code in codes %}<li>{{code.description }}</li>{% endfor %}</ul>{% endif %}{% endwith %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No meetings are available.</p>
    {% endif %}
{% endblock %}